{% extends "icbl/views/templates/basesoal.html" %}

{% block content %}

<script>
    var path='{{path}}';
    var vid=localStorage.id;
    var vnis=localStorage.nis;
    var ns=JSON.parse(localStorage.ns);
    var nj=JSON.parse(localStorage.nj);
    var nu=JSON.parse(localStorage.nu);
    var npt=JSON.parse(localStorage.npt);
    var nsou=JSON.parse(localStorage.nsou);
    var no=1;
    var jsoal=Number(localStorage.jsoal);
    var jwaktu=Number(localStorage.jwaktu);

    var prekode=localStorage.kode.substring(0,1);
    var kode=localStorage.kode.substring(1,localStorage.kode.length);
    var jwb =JSON.parse(localStorage.jwb);
    var tabel=localStorage.tbl;

    if (jwaktu < 10){
        jwaktu=10;
    }

 function darkbg(){
      if (document.getElementById("bg").className == "soal-background-dark"){
        document.getElementById("bg").className = "";
        document.getElementById("ans-table").setAttribute("style", "color:#000000");
      } else {
        document.getElementById("bg").className = "soal-background-dark";
        document.getElementById("ans-table").setAttribute("style", "color:#ffffff");
      }
    }

    function save_ls(){
       localStorage.jwaktu=jwaktu;
       localStorage.jwb=JSON.stringify(jwb);
    }

    function wDOM(id,cnt){
        document.getElementById(id).innerHTML=cnt;
    }

    function func(jw){
        var vno=no-1;
        var so="o"+vno;
        var cnt=no+" ("+jw+")";
        wDOM(so,cnt);
        wDOM("jsn"+vno,jw);
        jwb[vno]=jw;
        save_ls();

        var ansl = 'ABCDES-';
        for(i=0; i<ansl.length;i++){
            document.getElementById('ans-' + ansl[i]).classList.remove('answered');
            document.getElementById('ans-'+ jw).classList.add('answered');
        }

    }
    function masukin(){
      var vno=no-1;
      var inputan=document.getElementById('masukan').value;
      if (inputan == ''){
         jwb[vno]='-';
      }else{
        jwb[vno]=inputan;
      }
      wDOM("jsn"+vno,jwb[vno]);
      save_ls();
    }

    function get_resp(urla,jwb,funct)
            {
            var xmlhttp;
            if (window.XMLHttpRequest)
              {// code for IE7+, Firefox, Chrome, Opera, Safari
              xmlhttp=new XMLHttpRequest();
              }
            else
              {// code for IE6, IE5
              xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
              }
            xmlhttp.onreadystatechange=function()
              {
              if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    funct(xmlhttp.responseText);
                }
              }
            document.pf.jawaban.value=jwb;
            var formData = new FormData( document.getElementById("pf"));
            xmlhttp.open("POST",urla,true);
            xmlhttp.send(formData);
            }

     function get_soal1(urla) {
        var scnt='',vupto='',ju=0, vab="ABCDEFGHIJKLMNOPQRSTUVWXYZ",vnu=0;
        //Wacana
        if (npt[no-1] != "-"){
          urla_pretext = path + tabel + vid + '/' + kode + '/' + npt[no-1] + '.png';
          document.getElementById("pretext").innerHTML='<div><img src='+urla_pretext+'></div>';
        }else{
          document.getElementById("pretext").innerHTML='<div></div>';
        }
        // Sound atawa Suara
        if (nsou[no-1] != "-"){
          urla_sound = path + tabel + vid + '/' + kode + '/' + nsou[no-1];
          document.getElementById("sound").innerHTML='<div><audio src='+urla_sound+' controls></div>';
        }else{
          document.getElementById("sound").innerHTML='<div></div>';
        }

        document.getElementById("soal").innerHTML='<div><img src='+urla+'></div>';

        if (nu[no-1] != "0"){
          vnu=parseInt(nu[no-1])-1;
          vupto=vab.substring(vnu,vnu+1);
          ju=vupto.charCodeAt(0)-65;
          scnt+='<div class="btn-group">';
          for (i=0;i<=ju;i++){
            scnt+='<button id="ans-'+ vab.substring(i,i+1) +'" class="btn btn-lg btn-bluegreen-bordered" onClick=func("'+vab.substring(i,i+1)+'")>'+ vab.substring(i,i+1) +'</button>';
          }
          scnt+='<button id="ans--" class="btn btn-lg btn-bluegreen-bordered" onClick=func("-")>-</button>';
          scnt+='</div>';
        }else{
          scnt+='<div><input type="text" id="masukan" size="15" onchange="masukin()" /></div>';
        }

        document.getElementById("pilihan1").innerHTML=scnt;
     }

    function fback(){
      var vno=0;
      if (no>1){
        no-=1;vno=no-1;
          get_soal1(path + tabel + vid + '/' + kode + '/' + ns[vno] + '.png');

        for (i=1;i<=jsoal;i++){
          document.getElementById("n"+i).classList = "n-inactive"
        }
        var td = document.getElementById("n" + no);
        td.classList = "n-active";
        if (nu[vno] != "0"){
            var ansl = 'ABCDES-';

            for(i=0; i<ansl.length;i++){
                document.getElementById('ans-' + ansl[i]).classList.remove('answered');
                document.getElementById('ans-'+ jwb[no-1]).classList.add('answered');
            }
        }else{
           if (jwb[vno] != "-"){
             document.getElementById('masukan').value=jwb[vno];
           }
        }
      }
    }
    function fnext(){
      var vno=0;
      if (no<jsoal){
        no+=1;vno=no-1;
        get_soal1(path + tabel + vid + '/' + kode + '/' + ns[vno] + '.png');

        for (i=1;i<=jsoal;i++){
          document.getElementById("n"+i).classList = "n-inactive"
        }
        var td = document.getElementById("n" + no);
        td.classList = "n-active";

        if (nu[vno] != "0"){
            var ansl = 'ABCDES-';

            for(i=0; i<ansl.length;i++){
                document.getElementById('ans-' + ansl[i]).classList.remove('answered');
                document.getElementById('ans-'+ jwb[no-1]).classList.add('answered');
            }
        }else{
           if (jwb[vno] != "-"){
             document.getElementById('masukan').value=jwb[vno];
           }
        }
      }
    }
    function ganti_nomer(ano){
        no=ano;
        get_soal1(path + tabel + vid + '/' + kode + '/' + ns[no-1] + '.png');

        for (i=1;i<=jsoal;i++){
          document.getElementById("n"+i).classList = "n-inactive"
        }
        var td = document.getElementById("n" + no);
        td.classList = "n-active";

        if (nu[no-1] != "0"){
            var ansl = 'ABCDES-';

            for(i=0; i<ansl.length;i++){
                document.getElementById('ans-' + ansl[i]).classList.remove('answered');
                document.getElementById('ans-'+ jwb[no-1]).classList.add('answered');
            }
        }else{
           if (jwb[no-1] != "-"){
             document.getElementById('masukan').value=jwb[no-1];
           }
        }
    }

    function countercol (n, skala) {
      nscale = n/skala *100;
      if (0 <= nscale && nscale < 80){
        document.getElementById('snilaim').classList='s-bronze';
      } else if (80 <= nscale && nscale < 90) {
        document.getElementById('snilaim').classList='s-silver';
      } else if (90 <= nscale && nscale <= 100){
        document.getElementById('snilaim').classList='s-gold';
      }
    }

    function counter (nval, n){
      var val = 0;
      var elem = document.getElementById('snilaim');
      var reptr = setInterval(counterf, 1800/n);
      function counterf (){
        if (val >= nval){
          clearInterval(reptr);
          elem.innerHTML = nval;
          countercol(nval, n);
        } else {
          elem.innerHTML = val;
          val++;
          countercol(val, n);
        }
      }
    }

    function habis_waktu() {
        var vby='<button class="btn btn-warning" data-toggle="modal" data-target=".bs-example-modal-sm" onClick="simpan()">KIRIM</button>';
        var vbn='<a href="/"><button class="btn btn-warning">BATAL</button></a>';
        taktif(true);
        wDOM('pesan','<span class="bg-danger text-danger">Waktu Habis !</span><br><span class="bg-warning text-warning">Klik tombol KIRIM untuk mengirim jawaban ke server, atau BATAL jika tidak mau mengirim ke server!</span><br>');
        wDOM('ya_button',vby);
        wDOM('no_button',vbn);
    }

    function pewaktu(wkt){
        var myTimeout = setTimeout(habis_waktu, (wkt*1000)+2000);
        var myVar = setInterval(countdown, 1000);

        function countdown(){
            var jam=0,sjam=0,mnt=0,dtk=0;
            var str_waktu="";
            var swaktu='';
            jam=Math.floor(jwaktu/3600);
            sjam=jwaktu % 3600;
            mnt=Math.floor(sjam/60);
            dtk=sjam % 60;
            str_waktu=jam+":"+mnt+":"+dtk;
            wDOM('waktu',str_waktu);
            jwaktu-=1;

            if ((jwaktu % 60) == 0){
                 save_ls();
            }
            if (jwaktu <= -1){
                clearInterval(myVar);
            }
        }
    }

    function taktif(bol){
        document.getElementById("back_button").disabled=bol;
        document.getElementById("next_button").disabled=bol;
        document.getElementById("sls_button").disabled=bol;
        document.getElementById("sel_no").disabled=bol;
    }

    function selesai(){
        var vby='<button class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-sm" onClick="simpan()">YA</button>';
        var vbn='<button class="btn btn-success" onClick="batal()">TIDAK</button>';
        taktif(true);
        wDOM('pesan','<span class="bg-danger text-danger">Yakin selesai mengerjakan Ujian ?  </span>');
        wDOM('ya_button',vby);
        wDOM('no_button',vbn);
    }

    function batal(){
        taktif(false);
        wDOM('pesan',"");
        wDOM('ya_button',"");
        wDOM('no_button',"");
    }

    function arr2str(arr){
      var carr=arr.length;
      var sarr='';
      for (i=0;i<carr-1;i++){
        sarr=sarr + arr[i] + ":";
      }
      sarr=sarr + arr[carr-1];
      return sarr;
    }

    function simpan(){
        var jwsem=[];
        var vurl="";
        for (i=0;i<jsoal;i++){
            jwsem[ns[i]-1]=jwb[i];
        }
        var vjwb=arr2str(jwsem);
        //vurl="/tm-simpan/"+'{{kodeto}}'+"/"+vjwb+"/"+vnis;
        vurl="/tm-simpan";
        taktif(true);
        wDOM('pesan','<span class="bg-warning text-warning"> Tunggu.... lagi memproses data ! </span>');
        get_resp(vurl,vjwb,res_pesan);
        //wDOM('title',vjwb);
    }

    function res_pesan(data){
        var vby='<a href="/tm-logout"><button class="btn btn-success">Logout</button></a>';
        var vbn='<a href="/"><button>Home</button></a>';
        var vdata=JSON.parse(data);
        if (vdata.nilai == null){
           wDOM('pesan', '<span class="bg-danger text-danger">Gagal Simpan Data ! Coba lagi dengan menekan tombol Selesai </span>');
           taktif(false);
           wDOM('ya_button',"");
           wDOM('no_button',"");
        }else {
           var snilai = vdata.nilai/vdata.skala * 100;

           wDOM('pesan', '<span class="bg-success text-success"> Data telah disimpan di server. Nilai Ujian Kamu: <b id="snilai">'+vdata.nilai+'</b>   </span>');
           var nres = '<div><b id="snilaim">' + vdata.nilai+"</b></div>";
           document.getElementById("mod-content").innerHTML = nres;
           counter(vdata.nilai, vdata.skala);

           if (snilai < 30){
              document.getElementById('snilai').classList='s-bronze';
              document.getElementById('bronze1').setAttribute('style','animation-name: star-op; animation-duration: 1s; animation-fill-mode: forwards;');
           } else if (snilai < 60){
              document.getElementById('snilai').classList='s-bronze';
              document.getElementById('bronze1').setAttribute('style','animation-name: star-op; animation-duration: 1s; animation-fill-mode: forwards;');
              document.getElementById('bronze2').setAttribute('style','animation-name: star-op; animation-duration: 1s; animation-delay: 0.5s; animation-fill-mode: forwards;');
           } else if (snilai < 80){
              document.getElementById('snilai').classList='s-bronze';
              document.getElementById('bronze1').setAttribute('style','animation-name: star-op; animation-duration: 1s; animation-fill-mode: forwards;');
              document.getElementById('bronze2').setAttribute('style','animation-name: star-op; animation-duration: 1s; animation-delay: 0.5s; animation-fill-mode: forwards;');
              document.getElementById('bronze3').setAttribute('style','animation-name: star-op; animation-duration: 1s; animation-delay: 1s; animation-fill-mode: forwards;');
           } else if (snilai < 90){
              document.getElementById('snilai').classList='s-silver';
              document.getElementById('bronze1').setAttribute('style','animation-name: star-op; animation-duration: 1s; animation-fill-mode: forwards;');
              document.getElementById('bronze2').setAttribute('style','animation-name: star-op; animation-duration: 1s; animation-delay: 0.5s; animation-fill-mode: forwards;');
              document.getElementById('bronze3').setAttribute('style','animation-name: star-op; animation-duration: 1s; animation-delay: 1s; animation-fill-mode: forwards;');
              document.getElementById('silver').setAttribute('style','animation-name: star-ex; animation-duration: 0.6s; animation-delay: 1.6s; animation-fill-mode: forwards;');
           } else if (snilai <= 100){
              document.getElementById('snilai').classList='s-gold';
              document.getElementById('bronze1').setAttribute('style','animation-name: star-op; animation-duration: 1s; animation-fill-mode: forwards;');
              document.getElementById('bronze2').setAttribute('style','animation-name: star-op; animation-duration: 1s; animation-delay: 0.5s; animation-fill-mode: forwards;');
              document.getElementById('bronze3').setAttribute('style','animation-name: star-op; animation-duration: 1s; animation-delay: 1s; animation-fill-mode: forwards;');
              document.getElementById('silver').setAttribute('style','animation-name: star-ex; animation-duration: 0.6s; animation-delay: 1.6s; animation-fill-mode: forwards;');
              document.getElementById('gold').setAttribute('style','animation-name: star-ex2; animation-duration: 0.6s; animation-delay: 2.1s; animation-fill-mode: forwards;');
           }

           wDOM('ya_button',vby);
           wDOM('no_button','');
           localStorage.clear();
        }
    }

</script>
<div class="container">


<div class="panel panel-bluegreen bordered">
   <div class="panel-heading">
     <h3 class="text-center" id="title">
       UJIAN - Kode Soal:{{kodeto}} - {{data.keterangan}}
     </h3>
  </div>
</div>
<div class="row">
  <div class="panel panel-primary timer-panel">
    <div class="panel-body text-center">
      Sisa Waktu: <strong id="waktu"></strong>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 nm">
    <b class="pull-right">Nightmode</b>
    <input type="checkbox" class="pull-right" name="" value="" onclick="darkbg()">

  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
    <div class="select-table">

    <select class="form-control form-tracker pull-left" id="sel_no" onchange="ganti_nomer()">
      <script>
      for (i=0;i<jsoal;i++){
      document.write('<option id="o'+i+'" value='+i+'>'+(i+1)+' ('+jwb[i]+')</option>');
      }
      </script>
    </select>

    <br>
    </div>
<div class="row">
  <div class="col-sm-12">
    <a href ="#" class="arrow-left pull-left" onClick="fback()"></a>
    <table id="ans-table" class="answer-table pull-left">
        <script>
        var tbrow = Math.ceil(jsoal/30);
        var rlimit = 30;
        function hrem (x, y){
          if((x-y)>=0){
            return x-y;
          } else {
            return 0;
          }
        }
        for (j=0; j<tbrow;j++){
          for(i=1+(j*rlimit);i<=jsoal-hrem(jsoal, (j+1)*rlimit);i++){
            document.write('<td id="n' + i+ '"><a href="#ans-table" onclick="ganti_nomer('+ i +')">' + i + '</a></td>');
          }
          document.write('<tr id="r'+j+'"></tr>');
          for(k=1+(j*rlimit);k<=jsoal-hrem(jsoal, (j+1)*rlimit);k++){
            document.getElementById('r'+(Math.ceil(k/rlimit)-1)).innerHTML += '<td id="jsn'+ (k-1) + '">' + jwb[k-1] + '</td>';
          }
          document.getElementById("n1").className = "n-active";
        }
        </script>
    </table>
    <a href ="#" class="arrow-right pull-left" onClick="fnext()"></a>
  </div>

</div>
  </div>
</div>
  <br>
   <div id="pretext"></div>
   <div id="sound" style="overflow:hidden; width:210px;"></div>
   <div id="soal"></div>
   <div class="row">
     <div class="col-sm-12">
       <div id="pilihan1" class="pull-left"></div>
       <div class="btn-group pull-left nextback">
        <button class="btn btn-bluegreen-bordered" id="back_button" name="button_back" onClick="fback()">BACK</button>
        <button class="btn btn-bluegreen-bordered" id="next_button" name="button_next" onClick="fnext()">NEXT</button>
      </div>
     </div>

   </div>
   <div><h3 id="jawab"></h3></div>

<div class="row">
<script>
    get_soal1(path + tabel + vid + '/' + kode + '/' + ns[0] + '.png');
    pewaktu(jwaktu);
</script>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-lg btn-brightgreen" id="sls_button" onClick="selesai()">SELESAI</button>
  </div>
  <div class="col-sm-12">
    <span id="pesan"></span><span id="ya_button"></span><span id="no_button"></span>
  </div>

</div>
<br>
<br>

</div>
<!--MODAL-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <i id="bronze1" class="fa fa-star fa-lg s-bronze" aria-hidden="true"></i>
        <i id="bronze2" class="fa fa-star fa-lg s-bronze" aria-hidden="true"></i>
        <i id="bronze3" class="fa fa-star fa-2x s-bronze" aria-hidden="true"></i>
        <i id="silver" class="fa fa-star fa-3x s-silver" aria-hidden="true"></i>
        <i id="gold" class="fa fa-star fa-4x s-gold" aria-hidden="true"></i>
        <br>
        <div id="mod-content"></div>
        <br>
        <a href="/tm-logout"><button class="btn btn-success">Logout</button></a>
      </div>

    </div>
  </div>
</div>
<div>
  <form method="POST" id="pf" name="pf">
     <input type="hidden" name="jawaban" >
     <input type="hidden" name="kode" value="{{kodeto}}">
     <input type="hidden" name="nis" value="{{user}}" >
  </form>
</div>
{% endblock %}

