{% extends "icbl/views/templates/base.html" %}

{% block content %}
    <script>
        var jsoal={{mdata.jsoal}};
        var kunci='{{kunci}}';

    </script>

    <h2 align="center">HASIL TEST</h2>
    <h3 align="center">{{mdata.pelajaran}} - {{mdata.keterangan}} - kode {{kode}} </h3>
    <form method="POST" action="/teacher-test-detail-siswa">
    <table border="1" align="center" style="font-size: x-small" name="hasilTo" id="hasilTo">

        <tr><td rowspan="3" align="center">NIS</td><td rowspan="3" align="center">NAMA</td>
          <td rowspan="3" align="center">KELAS</td>
            <script>
                document.write('<td align="center" colspan="'+jsoal+'">KUNCI</td>');
            </script>
            <td rowspan="3">NILAI</td></tr>
        <tr>
            <script>
                for(i=1;i<=jsoal;i++){
                    document.write('<td align="center">'+i+'</td>');
                }
            </script>
        </tr>
        <tr>
            <script>
                for(i=0;i<jsoal;i++){
                    document.write('<td align="center">'+kunci.substring(i,i+1)+'</td>');
                }
            </script>
        </tr>

        {% for datum in data %}
        <tr>
            <td><input type="submit" name="nis" value="{{datum.nis}}" /></td>
            <td>{{datum.nama}}</td>
            <td>{{datum.kelas}}</td>
            <script>
                var jwb='{{datum.jawaban}}';
                for(i=0;i<jsoal;i++){
                  document.write('<td align="center">'+jwb.substring(i,i+1)+'</td>');
                }
            </script>
            <td>{{datum.nilai}}</td>
        </tr>
        {% endfor %}
    </table>
    <input type="hidden" name="kode" value="{{kode}}" />
    </form>

{% endblock %}
