{% extends "icbl/views/templates/basemagang.html" %}

{% block content %}
    <script>
        var vno=1;
        var vkun=[];
        var vjwb=[];
        {% for kun in kunci %}
           vkun.push('{{kun}}');
        {% endfor %}
        {% for jawab in jawaban %}
           vjwb.push('{{jawab}}');
        {% endfor %}
    </script>
    <h2 align="center">HASIL TEST</h2>
    <h3 align="center">{{keterangan}} - kode {{kode}} </h3>
    <h3 align="center">Nama: {{data.nama}} - NIS: {{data.nis}} </h3>
    <h3 align="center">Nilai: {{data.nilai}} - (Benar: {{benar}}, Salah: {{salah}}, Kosong: {{kosong}})</h3>
    <form method="POST" action="/adminmagang-lihat-soal" target="_blank">
    <table border="1" align="center">
        <tr><td>No</td><td>Kunci</td><td>Jawaban</td></tr>
        <script>
            for (i=0;i<vkun.length;i++){
              document.write('<tr><td><input type="submit" name="nomer" value="'+ (i+1) +'"></td>');
              document.write('<td>'+vkun[i]+'</td>');
              document.write('<td>'+vjwb[i]+'</td></tr>');
            }

        </script>
    </table>
    <input
    <input type="hidden" name="kode" value="{{kode}}" />
    </form>
{% endblock %}
