{% extends "icbl/views/templates/base.html" %}

{% block content %}
    <h2 align="center">DAFTAR GURU</h2>
    <h3 align="center">Klik ID untuk memilih guru</h3>
    <form method="POST" action="{{action}}">
    <table border="1" align="center">
        <tr><td>NAMA</td><td>ID</td></tr>
        {% for datum in data %}
        <tr>
            <td><input type="submit" name="id" value="{{datum.id}}" /></td>
            <td>{{datum.nama}}</td>
        </tr>
        {% endfor %}
    </table>
    </form>
{% endblock %}
