{% extends "icbl/views/templates/base.html" %}

{% block content %}
<form method="POST" action="/admin-tambah-pelajaran">
    <table width="100%">
    <tr>
        <td><h3 align="center">Tambahkan pelajaran</h3></td>
    <tr>
    <tr align="center">
        <td style="padding-top:15px; padding-bottom:15px">
        <table>
            <tr>
               <td height="30"><span class="style1">Pelajaran</span><br />
                    <input type="text" name="pelajaran"/>
               </td>
            </tr>
        </table>
        </td>
    </tr>
    <tr>
        <td height="40" align="center">
            <input type="submit" style="width:200px; background-color:#CCFFFF" value="TAMBAH PELAJARAN!"/>
         </td>
    </tr>

</table>
</form>
{% endblock %}
