{% extends "icbl/views/templates/base.html" %}

{% block content %}
    <h2 align="center">DAFTAR PELAJARAN</h2>
    <h3 align="center">Klik nomer untuk mengedit nama pelajaran!</h3>
    <form method="POST" action="/admin-edit-pelajaran">
    <table border="1" align="center">
        <tr><td>KODE</td><td>NAMA PELAJARAN</td></tr>
        {% for datum in data %}
        <tr>
            <td><input type="submit" name="nomer" value="{{datum.nomer}}" /></td>
            <td>{{datum.pelajaran}}</td>
        </tr>
        {% endfor %}
    </table>
    </form>
{% endblock %}
