{% extends "icbl/views/templates/basebg.html" %}
{% block content %}
<script>
  function wDOM(id,cnt){
          document.getElementById(id).innerHTML=cnt;
      }
  function get_resp(urla,funct){
            var xmlhttp;
            if (window.XMLHttpRequest)
              {// code for IE7+, Firefox, Chrome, Opera, Safari
              xmlhttp=new XMLHttpRequest();
              }
            else
              {// code for IE6, IE5
              xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
              }
            xmlhttp.onreadystatechange=function()
              {
              if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    funct(xmlhttp.responseText);
                }
              }
            xmlhttp.open("GET",urla,true);
            xmlhttp.send();
            }
  function get_sekolah(){
      var kode_daerah=document.getElementById("kode").value;
      var vurl="/get-sekolah/" + kode_daerah + "/" + {{ntot}};
      get_resp(vurl,list_sma);
  }
  function list_sma(data){
    var vdata=JSON.parse(data);
    var cnt="";
    var ldata=vdata.length;
    cnt=cnt + "<h4>Daftar sekolah yang lulus</h4>";
    cnt=cnt + "<table border='1'><tr><td>Sekolah</td><td>Prediksi PG</td></tr>";
    for (i=0;i<ldata;i++){
      cnt=cnt + "<tr><td>" + vdata[i].sekolah + "</td><td>" + vdata[i].nm + "</td></tr>";
    }
    cnt=cnt + "</table>";
     wDOM("list_sekolah",cnt);
  }

</script>

<div class="panel panel-default">
    <div class="panel-body">

      <div class="row">
        <div align="center">
          <div class="text-default">
            <h4>
              Nilai Matematika: {{nmat}}<br>
              Nilai Sains: {{nipa}}<br>
              Nilai Bahasa Indonesia: {{nind}}<br>
              Nilai Bahasa Inggris: {{ning}}<br>
              Nilai total: {{ntot}}
            </h4>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div align="center">
          <div class="text-default">

            <select name="kode" id="kode">
              {% for dae in daerah %}
                 <option id="{{dae.kode}}" value="{{dae.kode}}">{{dae.daerah}}</option>
              {% endfor %}
            </select>
            <button class="btn btn-success" onclick="get_sekolah()">LIHAT SEKOLAH</button>

          </div>
        </div>
      </div>
      <div class="row">
        <div align="center">
          <div class="text-default" id="list_sekolah">

          </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}
